body,
p,
h1,
h2,
h3 {
  margin: 0;
}

body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

header {
  text-align: center;
}

.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.menu a {
  background: white;
  padding: 15px 30px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

img {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}

main .box1 {
  display: grid;
  place-content: center;
  gap: 20px;
  padding: 40px;
  background: white;
  justify-items: end;
}

main .box1 a {
  text-decoration: none;
  padding: 16px 32px;
  background: red;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
}

main .box1 h1 {
  font-size: 32px;
  font-weight: 700;
}

main .box1 p {
  line-height: 26px;
  font-size: 20px;
  text-align: right;
}

main .box3 {
  padding: 40px;
}

main .box3 h2 {
  font-size: 64px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 20%);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: url("https://kotchopires.github.io/imagens/onda.svg");
}

main .box4 {
  display: grid;
  padding: 40px;
}

main .box4 div {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
  gap: 10px 20px;
}

main .box4 div p {
  grid-column: 2;
}
